.page {
  display: grid;
  max-width: 600px;
  margin: auto;
  padding: 64px 32px;
  gap: 64px;
}

.header {
  grid-row-start: 1;
  display: grid;
  gap: 32px;
}

.main {
  grid-row-start: 2;
  display: grid;
  gap: 32px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  text-align: center;
  font-size: .75rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

/* added by jt */
.links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.linkItem {
  list-style: none;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.button, .link {
  font-size: .85rem;
  color: var(--foreground);
  background-color: transparent;
  border: 1px solid var(--foreground);
  border-radius: 5px;
  padding: .65em 1.75em;
  cursor: pointer;
}

.backToTopButton {
  position: relative;
  border: 1px solid var(--foreground);
  border-radius: 50%;
  padding: 2.5em;
}

.backToTopText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menuItems_container {
  display: grid;
  gap: 16px;
}

.menuItem_container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: #222;
  padding: 1rem;
}

.menuItem_item {
  text-transform: capitalize;
  margin-bottom: .25em;
}

.menuItem_desc {
  font-size: .85rem;
}

.menuItem_regNumContainer {
  display: grid;
  place-content: center;
  background-color: #171717;
}

.menuItem_regNum {
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}

.blur {
  filter: blur(5px);
}
