.page {
  display: grid;
  max-width: 600px;
  margin: auto;
  padding: 48px 24px;
  gap: 48px;
}

.header {
  grid-row-start: 1;
  display: grid;
  gap: 24px;
}

.main {
  grid-row-start: 2;
  display: grid;
  gap:24px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  text-align: center;
  font-size: .75rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

/* added by jt */
.links {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.linkItem {
  list-style: none;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.link {
  font-size: 1rem;
}

.button {
  font-size: .85rem;  
}

.button, .link {
  color: var(--foreground);
  background-color: transparent;
  border: 1px solid var(--foreground);
  border-radius: .35em;
  padding: .65em 1.5em;
  cursor: pointer;
}

.backToTopButton {
  position: relative;
  border: 1px solid var(--foreground);
  border-radius: 50%;
  padding: 1em;
  font-size: 2rem;
}

.backToTopText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%) ;
}

.menuItems_container {
  display: grid;
  gap: 16px;
}

.menuItem_container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: #222;
  padding: 1rem;
}

.menuItem_item {
  text-transform: capitalize;
  margin-bottom: .25em;
}

.menuItem_desc {
  font-size: .85rem;
}

.menuItem_regNumContainer {
  display: grid;
  place-content: center;
  background-color: #171717;
  cursor: pointer;
}

.menuItem_regNum {
  padding: .75em;
  font-size: 1.25rem;
  font-weight: bold;

}

.blur {
  filter: blur(5px);
}
